.options-content{
    display: block;
}

.options{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2{
    color:whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}

a{
    padding: 10px;
}

.btn{
    width: fit-content;
    height: fit-content;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
}

.btn:hover{
    background-color: rgb(36, 36, 36);
    border:1px solid rgb(34, 34, 34);
}

.btn:focus{
    background-color: rgb(22, 22, 22);
    border-color: rgb(22,22,22);
}

@media screen  and (min-width:1500px) {
    h2{
        font-size: 2vw;
    }
}

@media screen and (max-width: 1500px) {
    .options{
        height: 20vw;
    }
}

@media screen and (max-width: 1200px) {
    .options{
        height: 25vw;
    }
}

@media screen and (max-width: 800px) {
    .options{
        display: flex;
        overflow-x: scroll;
        flex-direction: column;
        justify-content:center;
        height: 15vw;   
    }

    .btn{
        background-color: rgb(76, 76, 76);
        border-radius: 20px;
    }

    a{
        padding: 10px;
    }

    h2{
        font-size: 21px;
    }
}

@media screen and (max-width: 350px) {
    
}