.intro{
    height: 100% !important;
    background-color: rgb(0, 0, 0);
    position: relative;
    width: 100% !important;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    overflow: hidden;
}

.top-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(15, 15, 15);
    width: 100%;
    height: 10%;
}

.top-bar-title{
    font-size: 3vw;
    padding: 10px;
    flex-grow: 1;
    flex-basis: auto;
    padding: 10px;
    color: aliceblue;
}

.book-image-container{
    position:absolute;
    left: 650px;
    top: 85px;
    width: 50%;
    height: 80%;
    border:1px solid rgb(99, 99, 99);
    display: flex;
    justify-content: center;


    box-shadow: 0 15px 25px 5px rgba(129, 124, 124, 0.4);
    
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(117, 115, 115, 0.2);
    

}

.book-image-left-button{
    position: absolute;
    top:50%;
    left: 0;
}

.book{
    height: 100%;
}

.book-image-right-button{
    position: absolute;
    top:50%;
    right: 0;
}

.caro-nav{
    width: 65px;
    height: 65px;
    background-color: rgb(15, 15, 15);
    border-radius: 75%;
    box-shadow: 0 0 30px 0px rgb(52,52,52,52);
    border:1px solid rgb(33, 33, 33);
    color: aliceblue;
}

@media screen and (max-width: 1500px) {
    .book-image-container {
        width: 55%;
        position: absolute;
        left: 35%;
        border-radius: 0px;
    }

    .book{
        height: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .book-image-container {
        width: 100%;
        position: absolute;
        left: 0;
        border-radius: 0px;

    }

    .book{
        height: 90%;
    }

    .caro-nav{
        width: 85px;
        height: 85px;
        background-color: rgb(15, 15, 15);
        border-radius: 75%;
        box-shadow: 0 0 30px 0px rgb(52,52,52,52);
        border:1px solid rgb(33, 33, 33);
        color: aliceblue;
        
    }
}

@media screen and (max-width: 800px) {
    
    .intro{
        height: 75% !important;
        background-size: 150% 125% !important;
    }

    .top-bar-title{
        font-size: 30px;
        padding: 5px;
    }

    .book-image-container {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 70px;
        border-radius: 0px;

    }

    .book{
        height: 90%;
    }

    .caro-nav{
        width: 50px;
        height: 50px;
        background-color: rgb(15, 15, 15);
        border-radius: 75%;
        box-shadow: 0 0 30px 0px rgb(52,52,52,52);
        border:1px solid rgb(33, 33, 33);
        color: aliceblue;
    }
}

@media screen and (max-width: 350px) {
    .intro{
        height: 75% !important;
        background-size: 150% 125% !important;
    }

    .top-bar-title{
        font-size: 25px;
    }

    .book-image-container {
        width: 100%;
        position: absolute;
        left: 0px;
        top: 60px;
        border-radius: 0px;

    }

    .book{
        height: 90%;
    }

    .caro-nav{
        width: 50px;
        height: 50px;
        background-color: rgb(15, 15, 15);
        border-radius: 75%;
        box-shadow: 0 0 30px 0px rgb(52,52,52,52);
        border:1px solid rgb(33, 33, 33);
        color: aliceblue;
    }
}

